#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #b81414;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  border: 1px solid #404040;
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.read-the-docs {
  color: #888;
}

.todo {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #303030;
  padding: 20px;
}

.todo ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 1rem;
}

/* .todo ul li {
  border: 1px solid #b81414;
} */

.todo ul li .id {
  display: flex;
}

.todo ul li .btns {
  display: flex;
  justify-content: space-around;
}

/* .todo ul li .btns button {
  background-color: hsl(0, 3%, 47%);
} */

.todo ul li .btns button img {
  color: #e2e2e2;
}

.todo ul li .btns img {
  width: 16px;
  filter: invert(52%) sepia(0%) saturate(3964%) hue-rotate(145deg) brightness(111%) contrast(90%);
}

form {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.inputText {
  padding: 5px;

}